*{
    margin: 0;
    padding: 0;
}

#navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: ghostwhite;
    box-shadow: 2px 2px darkgray;
}

#heading{
    color: blue;
}

a{
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

a:hover {
    color: blue;
    cursor: pointer;
}

main {
    position: relative;
    height: 89vh;
}

.container {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container h2 {
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
}

button {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: transparent;
    width: 70px;
    margin-top: 20px;
    cursor: pointer;
}

.color {
    color: turquoise;
}

